export DATABASE_NAME=wordpress
export DATABASE_USER=root
export DATABASE_PASSWORD=
export DATABASE_HOST=mysql
export DATABASE_PORT=3306

export GIT_REPO=
export GIT_USER=
export GIT_PASSWORD=
export GIT_BRANCH=master

export SECRET_WORDPRESS_API="https://api.wordpress.org/secret-key/1.1/salt/"
export MIGRATE_FROM="localhost/Apotheose/Site-jeunes-artistes"
export MIGRATE_TO="localhost:8080"
