
body.login {
  background-color: aliceblue;
  
}
body.login div#login {}
body.login div#login h1 {
  display: none;
}
body.login div#login h1 a {
  background-image: none;
  text-indent: inherit;
  color: $color-tri;
  width: 100%;
}
body.login div#login form#loginform {
  -webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 7px 4px #777;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
  background-color: black;
  border: none;
  text-shadow: none;
}
body.login div#login p#nav {}
body.login div#login p#nav a {
  color: $color-tri;
}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}